In [76]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [77]:
data =pd.read_csv('Documents/train-mod.csv')

In [78]:
data.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [79]:
inputs = data.drop('Survived',axis = 'columns')
target = data['Survived']

In [114]:
inputs

     Pclass     Sex   Age     Fare  Sex_n
0         3    male  22.0   7.2500      1
1         1  female  38.0  71.2833      0
2         3  female  26.0   7.9250      0
3         1  female  35.0  53.1000      0
4         3    male  35.0   8.0500      1
..      ...     ...   ...      ...    ...
886       2    male  27.0  13.0000      1
887       1  female  19.0  30.0000      0
888       3  female   NaN  23.4500      0
889       1    male  26.0  30.0000      1
890       3    male  32.0   7.7500      1

[891 rows x 5 columns]

In [80]:
from sklearn.preprocessing import LabelEncoder

In [81]:
le_Sex = LabelEncoder()

In [82]:
inputs['Sex_n'] = le_Sex.fit_transform(inputs['Sex'])

In [83]:
inputs.head()

   Pclass     Sex   Age     Fare  Sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [84]:
inputs_n = inputs.drop(['Sex','Age','Fare'],axis='columns')
inputs_n

     Pclass  Sex_n
0         3      1
1         1      0
2         3      0
3         1      0
4         3      1
..      ...    ...
886       2      1
887       1      0
888       3      0
889       1      1
890       3      1

[891 rows x 2 columns]

In [85]:
X = inputs_n
y = target

In [86]:
#Splitting the data into train and test

In [163]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size =0.1,random_state =0)

In [164]:
clf_entropy=DecisionTreeClassifier(criterion = 'entropy',random_state = 0,max_depth=3,min_samples_leaf=3)

In [165]:
#clf = tree.DecisionTreeClassifier(criterion='gini',min_samples_split=30,splitter="best")

In [166]:
clf_entropy.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=3, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [173]:
y_pred=clf_entropy.predict(X_test)
print(y_pred)

[0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0
 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1 0]

In [171]:
model.predict([[3,1]])

array([0], dtype=int64)

In [169]:
accuracy=accuracy_score(y_test,y_pred)

In [170]:
print(str(accuracy*100)+"% accuracy")

80.0% accuracy